<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friends & Groups</title>
    <link rel="stylesheet" href="../public/stylesheets/friendsAndGroups.css">
</head>
<body>
    <div class="friends-groups-container">
        <div class="header">
            Friends & Groups
        </div>

        <div class="friends-groups-body">
            <ul class="chat-list">
                <button type="button" class="chat-item friend" onclick="location.href='http://127.0.0.1:5500/ChatApp/views/chatPage.html?forg=yuvraj'">yuvraj</button>
                <button type="button" class="chat-item friend" onclick="location.href='http://127.0.0.1:5500/ChatApp/views/chatPage.html?forg=rr'">rr</button>
                <button type="button" class="chat-item friend" onclick="location.href='http://127.0.0.1:5500/ChatApp/views/chatPage.html?forg=Charbuttone'">Charbuttone</button>
                <button type="button" class="chat-item group" onclick="location.href='http://127.0.0.1:5500/ChatApp/views/chatPage.html?forg=Family'">Family</button>
                <button type="button" class="chat-item group" onclick="location.href='http://127.0.0.1:5500/ChatApp/views/chatPage.html?forg=Work-Buddies'">Work-Buddies</button>
                <button type="button" class="chat-item group" onclick="location.href='http://127.0.0.1:5500/ChatApp/views/chatPage.html?forg=Gaming-Group'">Gaming-Group</button>
            </ul>
        </div>
    </div>
</body>
</html>
