<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friends & Groups</title>
    <link rel="stylesheet" href="../public/stylesheets/friendsAndGroups.css">
</head>
<body>
    <div class="friends-groups-container">
        <div class="header">
            Friends & Groups
        </div>

        <div class="friends-groups-body">
            <ul class="chat-list">
                <li class="chat-item friend">Alice</li>
                <li class="chat-item friend">Bob</li>
                <li class="chat-item friend">Charlie</li>
                <li class="chat-item group">Family</li>
                <li class="chat-item group">Work Buddies</li>
                <li class="chat-item group">Gaming Group</li>
            </ul>
        </div>
    </div>
</body>
</html>
