<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friends & Groups</title>
    <link rel="stylesheet" href="../public/stylesheets/friendsAndGroups.css">
</head>
<body>
    <div class="friends-groups-container">
        <div class="header">
            Friends & Groups
        </div>

        <div class="friends-groups-body">
            <ul class="chat-list">
                <button type="button" class="chat-item friend" id ="yuvraj">yuvraj</button>
                <button type="button" class="chat-item friend" id ="rr">rr</button>
                <button type="button" class="chat-item friend" onclick="renderPage(this)">Charbuttone</button>
                <button type="button" class="chat-item group" onclick="renderPage(this)">Family</button>
                <button type="button" class="chat-item group" onclick="renderPage(this)">Work-Buddies</button>
                <button type="button" class="chat-item group" onclick="renderPage(this)">Gaming-Group</button>
            </ul>
      </div>
    </div>
    <script type="module" src="../public/scripts/friendsAndGroups.js"></script>
</body>
</html>
